
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
  background-color: bisque;
}
/* .teacherImgStyle {
   width: 50%;
} */

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  background-color: #333;
  color: #fff;
}

input[type='text'] {
   width: 50%;
   height: 30px;
   border: none;
   border-radius: 4px;
   background-color: #fff;
   color: #333;
   padding: 0 10px;
}

input:focus {
  background-color: #eee;
  /* border: 2px solid #333; */
  outline: none;
}

form {
  display: flex;
  align-items: center;
  width: 60vw;
  justify-content: center;
}

button[type='submit'] {
  height: 30px;
  background-color: rgb(196, 44, 44);
  border-radius: 4px;
  color: #fff;
  border: none;
  font-size: 14px;
  padding: 0 20px;
  margin-left: 4px;
}

button[type='submit']:hover {
  background-color: #666;
  cursor: pointer;
}


.logo {
  height: 30px;
}

.user-icon {
  height: 30px;
}