*{
  margin: 0;
  padding: 0;
}
#container {
    background-color: yellow;
}

.header {
    /* display: flex;
    justify-content: space-between; */
    margin-bottom: 10px;
    /* border: 1px solid black; */
    display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f8f8f8;
  /* box-shadow: 2px 2px 10px #ccc; */
}

.logo{
    width: 100px;
    /* width: 50px;
  height: 50px; */
  border-radius: 10px;
  box-shadow: 2px 2px 10px #ccc;
}

.nav-items {
    display: flex;
  align-items: center;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li{
    padding: 10px;
    margin-right: 10px;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 18px;
}

/* prev card css */
.card{
  /* border: 1px solid black; */
  /* width: 200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 400px;
  box-shadow: 2px 2px 10px #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.card > img{
width: 100%;
height: 200px;
object-fit: cover;
}

.card h1 {
/* font-size: 24px;
margin: 10px 0;
text-align: center; */
font-size: 24px;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 2px;
margin: 10px 0;
text-align: center;
}

.card h3,h4 {
/* font-size: 18px;
margin: 5px 0;
text-align: center; */
font-size: 18px;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
margin: 5px 0;
text-align: center;
}

/* new card css */
/* .card {
  width: 300px;
  height: 400px;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 2px 10px #ccc;
  background-color: #fff;
  text-align: center;
  position: relative;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h2 {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.card p {
  margin: 10px 0;
  font-size: 18px;
  color: #555;
} */




.restaurantList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.searchContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.search-input {
  width: 30%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  margin-right: 10px;
  background-color: #f5f5f5;
}

.search-button {
  width: 10%;
  padding: 12px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.search-button:hover {
  background-color: #555;
}

  
  